<header class="site-header">
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>-->
      <a href="{{site.baseurl}}/" class="navbar-brand">Home</a>  
      <a href="{{site.baseurl}}/#Class" class="navbar-brand">Classrooms</a>  
      <a href="{{site.baseurl}}/#Publication" class="navbar-brand">Publication</a>  
      <a href="{{site.baseurl}}/#Contact" class="navbar-brand">Contact Us</a>   
      <a href="https://github.com/freeCompilerCamp/freecompilercamp.github.io" class="navbar-brand">Github</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
<!--    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/about/">Play-With-Compiler</a></li>
      </ul>
    </div>--><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
