$docker-color: #1488C6;

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    flex: none;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;

    &.navbar-inverse {
        background-color: $docker-color;
        border-color: $docker-color;

        a, .navbar-nav li a {
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navbar-brand {
    font-weight: 900;
    @media screen and (max-width: $on-palm) {
        font-size: 1.5em;
    }
}
.post-meta {
    color: $grey-color;
}
div.post-content {
    max-width:1200px
}
.panel {
    border:none;
    box-shadow: 0px 0px 1px $grey-color;
}

.panel:hover {
    box-shadow: 0px 0px 6px $grey-color;
}


footer {
    border-top: 1px solid $grey-color-light;
}
.social-share {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid $grey-color-light;
}
.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}

.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;

}

.recent li {
    margin: 20px;
}

.recent img {
    display: block;
    margin: auto;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.post-img img {
    width: 100%;
}

.announce {
    margin-top:10px;
    margin-bottom:60px;
    text-align: center;

}


.pack {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.banner {
    display: block;
    margin: auto;
}

.panel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    flex: 1 1 auto;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.terminal {
    font-size: 15px;
}


.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    width: 50%;
    min-width: 150px;
}

.content {
    padding: 0 15px;
    overflow-y: auto;
}

.content {
    padding: 0 15px;
}
.panel-singular {
    margin:0 auto;
    max-width: 1200;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #2fa8c3;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    background: #565656;

    > div {
        flex: 1 1 auto;
        margin-bottom: 15px;
        overflow-y: auto;

        &:last-of-type {
            margin-bottom: 0px;
        }

        &.initialized {
            background-color: black;
        }
    }
}
.getting-started {
    ul {
        list-style-type: none;
        font-size: 36px
    }

}

.card {
    float: none;
}

code[class*="."] {
    cursor: pointer;
}

pre:not(.highlight) {
  color: #fff;
  background-color: #000;
}

.resize-warning {
    background-color: black;
    color: white;
    text-align: center;
}

// Syntax highlighting with line numbers
// Ref: https://aimuke.github.io/guides/2019-06-01-line-numbers/
@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lineno-container > figure > pre {
  padding: 0px;
}

.highlight {
  pre.lineno {
      border: none;
      color: #999;
      padding: 2px;
  }

  .lineno {
      @include unselectable();
  }

  // dividing line
  .gutter {
      border-right: 1px solid #ccc;
  }

  pre {
    pre {
      border: none;
      margin-bottom: 0px;
    }
  }
}

.lineno-container {
    pre {
        color: #333;
        background-color: #eeefff;
    }
}

// Some custom styling for collapsible code blocks
.code-collapsible {
    padding-bottom: 10px;

    // Header
    summary {
      cursor: pointer;
      background-color: #ced0fd;
      //font-size: 20px;
    }
}

// When collapse is open, add no padding
details[open] {
    padding-bottom: 0px;
}

// Prevents bootstrap from making code containers fluid
// This is especially useful for code containers that use custom line numbers
.customlines-container {
  pre code {
    white-space: pre;
  }

  // Styles the code to be consistent
  pre {
    color: #333;
    background-color: #eeefff;
    padding: 5px;
  }
}

// Download button for retrieving files from sandbox
.sandbox-dl {
  background-color: #eeefff;
  border: solid;
  border-color: #1887c6;
  border-width: 1px;
}

// Code text editor styling for closed-book tests using ace.js
.code-editor {

}

// Status bar on bottom of closed-book tests
.code-editor-status {

  // Span styling
  padding: 5px;
  background-color: #eeefff;
  border-top: solid;
  border-top-color: #1887c6;
  border-top-width: 1px;

  p {
    margin-bottom: 0px;
  }

  #code-editor-status-indicator {
    color: red;
  }

}

// CSS for loader from https://www.w3schools.com/howto/howto_css_loader.asp
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#code-editor-submit {
  margin-left: 5px;
  margin-right: 5px;
}

#code-editor-build {
  background-color: #1887c6;
  margin-right: 5px;
}

#console-button {
  margin-left: 5px;
  background-color: #000000;
  border-color: #000000;
}

#code-submit-loader {
  visibility: hidden;
  margin-left: 10px;
}

#console {
  font-family: "Lucida Console", Courier, monospace;
  white-space: pre-wrap;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1887c6;
  margin-top: 10px;
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
